.yeseva {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.lobster {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

.manrope {
    font-family: "Manrope", serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: poppins;
    width: 80vw;
    margin: 100px auto;
}

p{
    color: rgb(62, 62, 62);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
}

.btn{
    color: rgb(255, 255, 255);
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: rgb(255, 89, 89);
    padding: 12px 20px;
    border: none;
}
section{
    margin-top: 70px;
}
/* banner  */
.banner h1{
    font-family: Yeseva One;
    font-size: 60px;
    color: rgb(51, 51, 51);
}
.banner span{
    color: rgb(255, 173, 90);
}
.banner-contant{
    width: 500px;
}
.banner img{
    width: 426px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner p{
    margin: 15px 0px 19px 0px;
}


/* missions */
.mission-section h2{
    font-size: 48px;
    font-weight: 700;
    color: rgb(19, 16, 58);
}
.mission-section span{
    color: rgb(255, 173, 90);
}
.mission img{
    width: 126px;
}
.mission h5{
    font-size: 24px;
    font-weight: 600;
}
.mission p{
    color: rgb(66, 66, 66);
    font-size: 16px;
}
.mission{
    width: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 26px;
    text-align: left;
}
.mission-1{
    background: rgba(79, 157, 166, 0.1) ;
}
.mission-2{
    background: rgba(255, 89, 89, 0.1);
}
.mission-3{
    background: rgb(255, 244, 214);
}
.mission-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.mission-section{
    text-align: center;
}


/* about  */
.about img{
    width: 400px;
}
.about h3{
    color: rgb(51, 51, 51);
    font-size: 36px;
    font-weight: 700;
}
.about p{
    color: rgb(62, 62, 62);
    font-size: 18px; 
}
.about-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.about{
    display: flex;
    gap: 70px;
}
.about-reverse{
    flex-direction: row-reverse;
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-img-container{
    position: relative;
}
.about-shape1 img{
    position: absolute;
    width: 225px;
    top: 54px;
    left: -94px;
    z-index: -1;
}
.about-shape2 img{
    position: absolute;
    width: 200px;
    bottom: -74px;
    right: -94px;
    z-index: -1;
    
}